.home-main {
    font-family: 'Lato', Arimo, sans-serif;
}

.home-main > div {
	width: 100%;
	padding: 7em 0;
	border-bottom: 1px solid #aaa;
	text-align: center;
}

.home-main h2 {
    font-weight: 100;
	font-size: 2.5em;
    line-height: 1.5em;
    padding-bottom: 0.5em;
}

.home-main p {
	display: block;
	margin: 0 auto;
    padding-bottom: 1em;
	font-size: 1.1em;
	line-height: 1.5em;
	max-width: 50%;
}

img {
	max-width: 100%;
    height: auto;
}

.home-main a {
	color: #d93025;
	text-decoration: none;
}

.home-main .email {
	background-color: #fff;
}

.home-main .notes {
	background-color: #efefef;
}

.home-main .more {
	background-color: #fff;
}

@media only screen and (max-width: 768px) {
	.home-main p {
		max-width: 90%;
	}
}



/* 
.welcome-home-main-img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 32%;
    height: auto;
} */
