.transfer-Apps{
    border-radius: 10px;
    width: 250px;
    height: 350px;
    box-shadow: 1px 8px 8px 1px rgb(153, 151, 151);
    position: absolute;
    background-color: white;
    transform: scale(1.1);
    transition: .3s;
    right: 120px;
    top:30px;
  }
  .main-apps-btn{
     background-color: unset;
      border: none;
      outline: none;
      font-size: 2rem;
  }

  .apps-btn{
     text-decoration: none;
     font-size: 3rem;
     width: 65px;
     height: 65px;
  }


.app-header>img:hover{
        transform: scale(1.2);
        transition: .3s;
        cursor: pointer;
}
  
.appsus-button {
   font-size: 1.8em;
   color: #ccc;
   padding: 20px;
}