.transfer-Apps{
   border-radius: 10px;
   width: 250px;
   height: 60px;
   box-shadow: 1px 8px 8px 1px rgb(153, 151, 151);
   position: absolute;
   background-color: white;
   transform: scale(1.1);
   transition: .3s;
   right: 63px;
   top: 63px;
   z-index: 4002;
  }
  .main-apps-btn{
     background-color: unset;
      border: none;
      outline: none;
      font-size: 2rem;
      position: absolute;
      right: 2px;
      top:20px;
      margin-right: 13px;
  }

  .apps-btn{
     text-decoration: none;
     font-size: 2.2rem;
     /* width: 65px; */
     /* height: 65px; */
     padding: 12px 10px;
     color: #ffb937;
  }


.app-header>img:hover{
        transform: scale(1.2);
        transition: .3s;
        cursor: pointer;
}
  
.appsus-button {
   font-size: 1.8em;
   color: #ccc;
   padding: 20px;
}