
* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
/*   
  @font-face {
    font-family: mont1;
    src: url(./app-sus/font/Nunito/Nunito-Black.tttf);
} */


  .main-header {
        display: flex;
        height: 70px;
        background-color: white;
        justify-content: space-between;
        align-items: center;
        border-bottom:  0.00001px solid rgba(230, 229, 229, 0.767);
  }
  
  :hover button{
      cursor: pointer;
  }

.appSus{
   margin-top: 10px;

}

  .logo {
    width: 120px;
    height: 80px;
    padding-bottom: 10px;
       padding-top: 10px;
      /* font-size: 2rem;
      font-weight: 400;  */
  }
  /* .massage-body {
    min-width: 50px;
  }
  .massage-left-span {
    min-width: 300px;
  }
  .massage-right-span{
    min-width: 300px;
  } */
  .filter-mail{
    background-color: rgba(233, 232, 232, 0.726);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .mail-option{
    background-color: rgba(233, 232, 232, 0.726);
    border: unset;
   
  }

  .logo-title{
    font-size: 3rem;
  }

  .serch {
       width: 600px;
       outline: none;
       height: 50px;
       background-color:unset;
       border:none;
       margin-right: 10px;
       border-bottom-left-radius: 10px;
       border-top-left-radius: 10px;
  }
  .filttered-emails {
    cursor: pointer;
       text-align: center;
       outline: none;
       width: 80px;
       height: 50px;
       background-color:unset;
       border: none;
       border-bottom-right-radius: 10px;
       border-top-right-radius: 10px;
  }
  .hedar-button {
  height: 20px;
  width:  20px;
  outline: none;
  margin-right: 20px;
  outline: none;
  border: none;
  background: none;
  font-size: 1.5rem;
  margin-bottom: 3px;
  }
  
  :hover .hedar-button{
    cursor: pointer;
  }
  
  .main-container {
    display: flex;
    height: 100%;
    /* flex-wrap: wrap-reverse; */
  }
  
  
  
  .side-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex-grow: 1;
    min-width: 220px;
    height: 400px;
    justify-content: space-between;
  }
  .mail-flow {
    display: grid;
    flex-grow: 5;
    grid-template-rows: repeat(auto-fill, minmax(1fr, 1fr));
    height: 585px;
  }
  
  .main-footer {
    height: 80px;
    background-color:rgba(211, 211, 211, 0.212);
    margin-top: 18px;
  }

  .icon-btn{
     width: 40px;
     height: 40px;
  }
  
 
  .compose{
   font-family: lato, Arimo, sans-serif;
   color:rgb(138, 136, 136);
   border: none;
   margin-top: 30px;
   border-radius: 30px;
   height: 50px;
   width: 180px;
   font-size: 1.5rem;
   text-align: center;
   outline: none;
   margin-left: 10px;
   box-shadow: 1px 1px 8px 1px rgb(189, 187, 187);
  background-color: white;
/* background: rgb(246,248,249); 
background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); 
background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); 
background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); 

   color: rgb(128, 127, 127); */
  }

  .star-icon{
    width: 17px;
    height: 17px;
  }
  
  
  .inbox-btn{

  font-family: lato, Arimo, sans-serif;
  color: #424242;
  font-size: 0.875rem;
  text-align: left;
  height: 40px;
  /* font-weight:bolder; */
  margin-top: 30px;
  }
 
  .side-container>.icon-shadow:hover  {
  background-color:rgba(211, 211, 211, 0.274);
  border-top-right-radius: 20px 50%;
  border-bottom-right-radius: 20px 50%; 
  transition: 0.1s;
  cursor: pointer;
  }

  /* background-color: rgba(255, 0, 0, 0.11); */
  
  .all{
    display: flex;
    flex-direction: column;
  }

  .email-massage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.00001px solid rgba(230, 229, 229, 0.767);
    background-color:white;
    border-right: none;
    border-left: none;
    height: 45px;
  
  }
.massage-body{
  width: 700px;
  min-width: 100px;
}

  .massage-left-span{
    margin-left: 20px;
    width: 180px;
  }
  .massage-right-span{
    /* margin-right: 20px; */
    width: 100px;
  }

  .span-font{
    /* font-weight: 600; */
    font-family: lato, Arimo, sans-serif;
    color: #424242;
    font-size: 0.875rem;
  }
    .mail-flow div:hover{
    cursor: pointer;
    transform: scale(1.0006);
    box-shadow: 20px 10px 5px -5px rgba(197, 197, 197, 0.48);
    transition: .1s;
  }
  
  .DarkGraybackGroundColor{
   background-color:rgb(245, 243, 243)
  }

.no-btn-decoration{
  background-color: unset;
  border: none;
  outline: none;
}

  /* ******************* popUp new email window */
.comp-container {
  margin-top: 160px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 1px 8px 8px 1px rgb(153, 151, 151);
  position: absolute;
  background-color: white;
  transform: scale(1.1);
  transition: .3s;
  
}

.comp-header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.527);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.subject {
  height: 30px;
  outline: none;
  border: none;
  border-bottom: 0.5px solid lightgrey;
}

.to {
  height: 30px;
  outline: none;
  border: none;
  border-bottom: 0.5px solid lightgrey;
}

.main-text {
  height: 330px;
  outline: none;
  border: none;
  resize: none;
}

.comp-header-text {
  color: white;
  font-weight: 500;
  margin: 10px;
}

.comp-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.send {
  margin-left: 10px;
  height: 40px;
  width: 60px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgb(95, 95, 245);
  border: none;
  outline: none;
  color: white;
}
:hover .send {
  cursor: pointer;
}

.delete {
  margin-top: 20px;
  margin-right: 10px;
}

:hover .delete {
    cursor: pointer;
  }

.comp-header-text {
  font-weight: 700;
  letter-spacing: 0.5px;
}


/* *******************  email content massege window */

.main-email-m{
  margin-top: 30px;
  width: 700px;
  height: 700px;
  background: rgb(2,0,36);
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  border-radius: 10px;
  box-shadow: 1px 8px 8px 1px rgb(153, 151, 151);
  padding:20px ;
  color: white;
}
.all-m{
display: flex;
justify-content: center;
}

.btn-close{
 border-radius: 10px;
 color:white;
 border-color: white;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
outline: none;
}


/* //////////////////////////////////////////////madia quary: */


@media (max-width: 740px) {
  .comp-container {
     width: 300px;
     height: 300px;
   }
   .serch {
      width: 150px;

   }

   .compose{
     width: 100px;
     height: 30px;
     font-size: 0.9rem;
   }

   .massage-body{
    font-size: 0px;
   width:  50px;
   }

}

@media (max-width: 400px) {
  .comp-container {
     width: 200px;
     height: 200px;
   }
   .serch {
      width: 100px;

   }

   .compose{
     width: 80px;
     height: 30px;
     font-size: 0.6rem;
   }

   .massage-body{
    font-size: 0px;
   width:  50px;
   }

}