.k-note-full {
    width: 360px;
    min-height: 160px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 12px 16px;
    position: fixed;
    margin: auto;
    z-index: 4002;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.k-note-full-text-input {
    width: 320px;
    height: 140px;
    border: none;
    resize: none;
    outline: none;
}

.k-note-full i {
    font-size: 1.5em;
    margin: 0px 8px;
    color: #202124;
    cursor: pointer;
}

.k-screen-dimmed {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #202124;
    opacity: 0.5;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 4001;
    cursor: pointer;
}