.k-new-note {
    background-color: #fff;
    padding: 10px 0;
    /* display: inline-block; */
    width: 580px;
    margin: 2em auto 2em;
    max-width: 100%;

    border: 1px solid #e0e0e0;
}

.k-new-note input {
    display: block;
    padding: 0.5em 1em;
    line-height: 1.5em;
    border-color: transparent;
    outline: none;
    height: fit-content;
    width: 100%;
    max-width: 100%;
}

.k-new-note i {
    padding: 0.5em 0.5em;
    color: #ccc;
    cursor: pointer;
}

.k-new-note i:hover,
.k-new-note i.selected {
	color: black;
}

@media only screen and (max-width: 600px) {
    .k-new-note {
        flex-wrap:  wrap-reverse;
        justify-content: center;
        width: 65%;
        border-radius: 8px;
    }
    .k-new-note input {
        text-align: center;
    }
}